<input type="text" placeholder="search Student" [(ngModel)]="search"><br><br>
<div *ngIf="search.length===0; else fulltable">
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>CITY</th>
      <th>EMAIL</th>
    </tr>
    <tr *ngFor="let s of stdData">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.city}}</td>
      <td>{{s.email}}</td>
    </tr>
  </table>
</div>
<ng-template #fulltable>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>CITY</th>
      <th>EMAIL</th>
    </tr>
    <tbody *ngFor="let s of stdData">
      <tr *ngIf="s.name.toLowerCase().search(search.toLowerCase())!=-1">
     
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.city}}</td>
        <td>{{s.email}}</td>
      
    </tr>
    </tbody>
    
  </table>
</ng-template>